.movie-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.movie-list .movie-item {
  width: 250px;
  height: auto;
  margin: 10px;
  background-color: grey;
}

.movie-list .movie-item img {
  display: block;
  max-width: 100%;
  height: auto;
}